

.login_container{
  /* border:1px solid red; */
  width: 60%;

display: block;
margin: auto;
margin-top: 60px;
display: flex;
flex-direction: row;
gap:50px
}
.textbox{
  padding: 50px 10px;
  text-align: center;
}
.image{
  /* width: 50%; */
  height: 600px;
}
.circle {
  height: 60px;
  width: 60px;
  background-color: skyblue;
  border-radius: 50%;
  display: inline-block;
}
input{
  border: none;
  border-bottom: 2px solid skyblue;
  padding: 14px 50px;
  box-sizing: border-box;
  /* margin: 8px 0; */
}
::placeholder{
  text-align: left;
}
input:focus
{
    /* border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE; */
    outline-offset: 0px;
    outline: none;
}
button{
  width: 50%;
  padding: 10px 130px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: skyblue;
  border: none;
  text-align: center;
  color: white;
}